{% extends 'base.html' %}
{%block conteudo%}

<div class="content-wrapper">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="card border-primary shadow">
                    <div class="card-header bg-primary text-white text-center">
                        <h5 class="mb-0">📚 Livros Disponíveis</h5>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Autor</th>
                                    <th>Título</th>
                                    <th>ISBN</th>
                                    <th class="text-center">Ano de Publicação</th>
                                    <th>Status</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for livro in livro %}
                                <tr>
                                    <td>{{ livro.id }}</td>
                                    <td>{{ livro.autor }}</td>
                                    <td>{{ livro.titulo }}</td>
                                    <td>{{ livro.isbn }}</td>
                                    <td class="text-center">{{ livro.ano_publicação }}</td>
                                    <td>
                                        <span class="badge badge-success">
                                            {% if livro.disponivel %}
                                                Disponível
                                            {% else %}
                                                Reservado
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-info btn-sm" href="{% url 'reservar_livro' livro.id %}">
                                            <i class="fas fa-book"></i> Reservar
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>


                    </div>
                </div>
<br/>
                                      <br/>
            </div>
        </div>
    </div>
</div>

{%endblock%}