{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    {% include 'parciais/head.html' %}
    <title>{% block titulo %}{%endblock%}BliblioInfo</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

     {% include 'parciais/nav.html' %}
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
     {% include 'parciais/asside.html' %}

    <!-- /.sidebar -->
</aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Biblioteca Paulo Freire</h1>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      {% include 'parciais/messages.html' %}
        {%block conteudo%} {%endblock%}

    </div>
    <!-- /.content-header -->

    <!-- Main content -->


        </div>

        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->

    <!-- /.content -->

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    {% include 'parciais/footer.html' %}
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- ./wrapper -->
</body>
</html>
